 body{
             font-family: 'Montserrant', sans-serif;
             margin: 0;
        }
        
        table{
            width: 100%;
            height: 70vh;
            
            color: rgb(255, 255, 255);
            background-color: rgb(22, 22, 22);
        }
        
        td{
            width: 25%;
            text-align: center;
            background: rgb(14, 14, 14);
            font-size: 24px;
        }
        td:hover {
            background-color: rgb(24, 24, 24);
            cursor: pointer;
        }

        #resultArea {
            height: 30vh;
            background-color: rgb(30, 30, 30);
            color: white;
            font-size: 64px;
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 24px;
            box-sizing: border-box;
        }

        #result{
            background-color: rgb(75, 18, 230);
        }

        #result:hover {
            background-color: rgb(41, 41, 255);
        }

        .highlight{
            background-color: rgb(19, 19, 19);
        }